<footer class="position-sticky text-white-50">
  <p>Creator: <a href="#" class="text-white">Mark Carlo V. Garjas</a> @2022 <a href="https://facebook.com/carlogarjas" class="text-white">@carlogarjas</a>.</p>
</footer>