<div class="container">
  <header class="d-flex justify-content-center mb-5">
    <ul class="nav nav-pills">
      <li class="nav-item"> <%= link_to 'Home', inventory_systems_home_path, class: 'nav-link'%></li>
      <li class="nav-item"> <%= link_to 'Dashboard', inventory_systems_path, class: 'nav-link'%></li>
      <li class="nav-item"> <%= link_to 'Add Product', new_inventory_system_path, class: 'nav-link'%></li>

    </ul>
  </header>
</div>
