<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body class="text-center pt-4 bg-dark">
<div class="container pt-2">
  <main class="px-3 mt-5" style="height: 660px">
    <h1>Online Inventory System.</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi eius facilis fuga numquam! A adipisci aperiam deserunt, dolorum earum ipsam labore necessitatibus, non omnis tempora tempore vero vitae, voluptatum.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary mt-5 fw-bold border-white bg-black">Learn more</a>
    </p>
  </main>
</div>
</body>
</html>
