<%= render partial: 'header', locals: { inventory_system: @inventory_system } %>
<h1 class="text-light text-center">| Edit <%= @inventory_system.product_name %> |</h1>
<%= render "form", inventory_system: @inventory_system %>

<%= render partial: 'footer', locals: { inventory_system: @inventory_system } %>