<%= render partial: 'header', locals: { inventory_system: @inventory_system } %>
<h1 class="text-light text-center">Dashboard | Inventory System</h1>
<%= render partial: 'index', locals: { inventory_system: @inventory_system } %>
<%= render partial: 'footer', locals: { inventory_system: @inventory_system } %>